<%= form_for(@medicine) do |f| %>
  <% if @medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medicine.errors.count, "error") %> prohibited this medicine from being saved:</h2>

      <ul>
      <% @medicine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brandId %><br>
    <%= f.number_field :brandId %>
  </div>
  <div class="field">
    <%= f.label :genericId %><br>
    <%= f.number_field :genericId %>
  </div>
  <div class="field">
    <%= f.label :medType %><br>
    <%= f.text_field :medType %>
  </div>
  <div class="field">
    <%= f.label :Classification %><br>
    <%= f.text_field :Classification %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
