<p id="notice"><%= notice %></p>

<p>
  <strong>Brandid:</strong>
  <%= @medicine.brandId %>
</p>

<p>
  <strong>Genericid:</strong>
  <%= @medicine.genericId %>
</p>

<p>
  <strong>Medtype:</strong>
  <%= @medicine.medType %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @medicine.Classification %>
</p>

<%= link_to 'Edit', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>
