<p id="notice"><%= notice %></p>

<h1>Listing Med Symptomps</h1>

<table>
  <thead>
    <tr>
      <th>Medsid</th>
      <th>Symptompsid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @med_symptomps.each do |med_symptomp| %>
      <tr>
        <td><%= med_symptomp.medsId %></td>
        <td><%= med_symptomp.symptompsId %></td>
        <td><%= link_to 'Show', med_symptomp %></td>
        <td><%= link_to 'Edit', edit_med_symptomp_path(med_symptomp) %></td>
        <td><%= link_to 'Destroy', med_symptomp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Med symptomp', new_med_symptomp_path %>
