<p id="notice"><%= notice %></p>

<p>
  <strong>Medsid:</strong>
  <%= @med_symptomp.medsId %>
</p>

<p>
  <strong>Symptompsid:</strong>
  <%= @med_symptomp.symptompsId %>
</p>

<%= link_to 'Edit', edit_med_symptomp_path(@med_symptomp) %> |
<%= link_to 'Back', med_symptomps_path %>
