<p id="notice"><%= notice %></p>

<p>
  <strong>Genericname:</strong>
  <%= @generic.genericName %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @generic.desc %>
</p>

<%= link_to 'Edit', edit_generic_path(@generic) %> |
<%= link_to 'Back', generics_path %>
